/*color remains after onHover + onClick*/
.ant-checkbox-checked .ant-checkbox-inner,
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover 
  .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner{
    background-color: #7367f0b3;
    border-color: #7367f0b3;
  }
  .ant-checkbox-checked:after,
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after{
    border-color: #7367f0b3;
  }

/*hover before selected*/
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover 
  .ant-checkbox-inner, .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner{
    background-color: lightgrey;
    border-color: lightgrey;
  }

/*checkbox side text*/
  .ant-checkbox-wrapper {
    font-size: 1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    line-height: 1;
    padding: 0.358rem;
  }