.ant-btn, .ant-btn-primary:not(:disabled):hover{
    color: white;
    background: #7367f0; 
    border-color: #7367f0; 
    border-radius: 0.358rem;
    border-width: 1px;

    
    font-size: 1rem;
    font-family: Montserrat, Helvetica, Arial, Serif;
    font-weight: 500;
    line-height: 1;
    

    padding-top: 0.986rem 0.786rem;
    vertical-align: middle;
    display: inline-block
}

.ant-btn:hover, .ant-btn:active{
    color: white !important;
    box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
    border-color: #7367f0; 
  }

