.ant-anchor-link-title, .ant-anchor-wrapper .ant-anchor .ant-anchor-link-title{
    background:#5c52c0;
    color: whitesmoke;
    padding:20px;
    font-size: 1rem;
    font-family: Montserrat, Helvetica, Arial, Serif;
    font-weight: 500;
}


.ant-anchor-wrapper .ant-anchor .ant-anchor-link-active>.ant-anchor-link-title {
    color: white;
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-ink-ball {
    background-color: white;
}