.ant-pagination-item, .ant-pagination-next{
    background-color: #f3f2f7;
    margin: 0px;
    border-radius: 25px;
    padding: 0.5rem, 0.85rem;


    font-size: 1.1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    font-weight:500;


}

.ant-pagination-item:hover, .ant-pagination-item-active{
    color: white !important;
    border-color: #ada6fc;
    background-color: white!important;
    box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
    background-image: linear-gradient(to right,#7367f0b3, #ada6fc  );
  }



