.ant-steps .ant-steps-item-finish .ant-steps-item-icon{
    background-color: #ada6fc !important; 
    border-color: #e6f4ff;
}


.ant-steps .ant-steps-item-process .ant-steps-item-icon{
    background-color: #7367f0 !important; 
    border-color: #e6f4ff;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
    color: white;
}