/*cascader font*/
.ant-cascader-menu-item-content, .ant-select-selection-placeholder, .ant-select-selection-item{
    font-size: 1.1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    line-height: 1;
    padding: 0.358rem;
}

/*selector box hover outline color*/
  .ant-cascader .ant-select-selector:hover, .ant-select-selector:active, .ant-cascader .ant-select-selector-selected{
   border-color: #7367f0b3 !important; 
  }

/*on choose color*/
  .ant-cascader-menu-item:active, .ant-cascader-menu-item:hover {
    background-image: linear-gradient(to right,#7367f0b3, #ada6fc  );
  }

  /*after clicked remaining color*/
  .ant-cascader-dropdown .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), :where(.css-dev-only-do-not-override-1hyej8k).ant-cascader-dropdown .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
    background-color: #ada6fc;
  }