/*standard font size for calendar*/
.ant-picker-panel-container, .ant-picker .ant-picker-input >input {
    font-size: 1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    line-height: 1;
    padding: 0.358rem;
  }

  /*title size*/
  .ant-picker-dropdown .ant-picker-header-view {
    font-size: 135%;
  }

/*cell color onHover and onClick*/
.ant-picker-focused, .ant-picker:hover {
    border-color: #7367f0b3;
    box-shadow: #7367f0b3;
}

/*first selected cell color*/
.ant-picker-dropdown 
  .ant-picker-cell-in-view:is(.ant-picker-dropdown 
  .ant-picker-cell-today) 
  .ant-picker-cell-inner::before {
    border-color: white;
  }

/*cell color remains after onClick*/
.ant-picker-dropdown 
  .ant-picker-cell-in-view:is(.ant-picker-dropdown .ant-picker-cell-selected) 
  .ant-picker-cell-inner, .ant-picker-dropdown 
  .ant-picker-cell-in-view:is(.ant-picker-dropdown .ant-picker-cell-range-start) 
  .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-1hyej8k).ant-picker-dropdown 
  .ant-picker-cell-in-view:is(.ant-picker-dropdown .ant-picker-cell-range-end) 
  .ant-picker-cell-inner{
    background-color: #7367f0b3;
    border-color: #7367f0b3;
  }

/*today button color*/
  .ant-picker-today-btn{
    color:#7367f0b3 !important;
  }