
/*label + username + password input field color and font*/

.ant-form,
.ant-form-item-label,

.ant-form-item-control-input .ant-input:focus, 
.ant-form .ant-input:hover,
.ant-form-item-control-input,


.ant-form .ant-input-affix-wrapper:focus, 
.ant-form .ant-input-affix-wrapper:hover, 
.ant-form .ant-input-affix-wrapper-focused{
    border-color: #7367f0b3;
    font-size: 1.1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    line-height: 1;
    padding: 0.358rem;
}