 

/*Mentions Input field color + font*/
.ant-mentions,
.ant-mentions-input,
.ant-mentions:focus, 
.ant-mentions:hover,

.ant-mentions-measure,
.ant-mentions-focused,
.ant-mentions-dropdown,

.ant-mentions-affix-wrapper:focus, 
.ant-mentions-affix-wrapper:hover, 
.ant-mentions-affix-wrapper-focused{
    border-color: #7367f0b3;
    font-size: 1.1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    line-height: 1;
    padding: 0.358rem;
}