.ant-slider .ant-slider-track{
    background-color: #7367f0b3;
    
}

.ant-slider .ant-slider-handle:after{
    box-shadow: 0 0 0 2px #7367f0b3;
    background-color: #7367f0b3;
    background: #7367f0b3;
    border-radius: 25px;

}
