.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked{
    background-color: #7367f0b3;
    
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled),
.ant-switch .ant-switch-checked,
.ant-switch-handle{
    box-shadow: 0 0 0 2px #7367f0b3;
    background-color: #7367f0b3;
    background: #7367f0b3;
    border-radius: 25px;

}

.ant-switch{
    border-radius: 25px;
}