.ant-select-tree-title{
    font-size: 1.1rem ;
    font-family: Montserrat, Helvetica, Arial, Serif;
    line-height: 1;
    padding: 0.358rem;

}

.ant-select-selector{
    border-color: #7367f0b3 !important;
}
